<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Portal Roque</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Quem somos</a></li>
      <li><a href="#">ETC</a></li>
      <li><a href="#">ETC</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <h1>Página inicial</h1>
    <p>A minha ideia é a home ser apenas tipo uma página de acesso, com a logo do sistema e um form de login.</p>
    <p>Como só professor e aluno que vai usar, então não precisa a priori uma tela bonita na hora etc.</p>
</div>